<% title "Granlibakken Ski & Snowboard Lessons" %>
<% meta_tag :description, "Granlibakken is an online platform for private ski & snowboard lessons. Easily browse profiles & reviews, then book a private ski or snowboard lesson  with our fleet of expert, certified instructors. We collaborate closely with each of our ski area partners to ensure a consistent brand experience while maximizing the financial return of ski school operations to the mountain." %>

<section id="header-creative" class="top-section">
    <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
        <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/gb-landscape.jpeg'); height: 100%; width: 100%;" data-href=""> </div>
    </ul>
<!--         <div id="homepage-background">
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg" alt="background photo" class="bg-photo" alt="" />
        </div>
    -->
 <!--         <ul id="slider">
            <li>
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg" alt="background photo" class="bg-photo" alt="" />
            </li>
        </ul>
    -->        
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1 id="homeHeading" class="shadow-box-highlight">Private Lessons Made Perfect<br> -->
                <h1 id="homeHeading" class="home-header"><b>LESSONS </b> at <b>GRANLIBAKKEN</b><br>
                    <span class="smaller-text">Family Friendly. Lowest Prices. Best Value.</span>
                    <span class="smaller-text">To book a lesson, click below to visit <a href=https://www.snowschoolers.com/">SnowSchoolers.com</a></span>
                </h1>
                <h4><a href="https://www.snowschoolers.com/" class="btn btn-primary btn-xl page-scroll">Book a Lesson</a></h4>
                <!-- <p class="shadow-box-highlight hero-subtext">Say goodbye to the morning hassle. Book a certified instructor online, and we'll meet you on the mountain!</p>             -->
                <div class="shadow-box-highlight">
                    <p class="welcome-subheader"> Granlibakken is one of Tahoe's oldest continuously operating ski resorts, founded in the 1920s. 
                        <br class="hidden-unless-desktop"> 
                        Our historic ski hill is perfect for beginners and just minutes from your room. Reserve your spot today.
                    </p>
                </div>
                <hr class="subheader-divider">
                </p>
                <span class="welome-ctas">
                </span>
            </div>
        </div>
    </div>
</section>

<section id="daily-update" class="bg-primary hidden">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h2 class="center weather-subheader">Check out the current weather below, or read the 
                <a href="http://granlibakken.com/snow-report/" class="green-link" target="_blank">latest snow report here</a> for full details on the ski hill conditions.</h2>
                <div class="weather-widget-container">
                    <a href="https://www.accuweather.com/en/us/tahoe-city-ca/96145/current-weather/337269" class="aw-widget-legal">
                    </a><div id="awtd1509920006309" class="aw-widget-36hour"  data-locationkey="337269" data-unit="f" data-language="en-us" data-useip="false" data-uid="awtd1509920006309" data-editlocation="false"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
                </div>
            </div>
            <div class="resort-photo-container">
                <!-- <img src="https://s3.amazonaws.com/snowschoolers/weather-mar15.png" alt=" forecast" class="hp-photo-margin"> -->
                <!-- <img src="https://s3.amazonaws.com/snowschoolers/weekend-weather-jan25.png" alt="homewood" class="resort-photo"> -->
            </div>
            <div class="twitter-embed">                    
                <!-- <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The storm door is OPEN for Tahoe as we kick off 2017! <a href="https://t.co/ZVq38pZtJb">https://t.co/ZVq38pZtJb</a> via <a href="https://twitter.com/TahoeWeather">@TahoeWeather</a> <a href="https://t.co/p4zMo9LD0Q">pic.twitter.com/p4zMo9LD0Q</a></p>&mdash; OpenSnow (@findOpenSnow) <a href="https://twitter.com/findOpenSnow/status/815318020524539904">December 31, 2016</a></blockquote> -->
                <!-- <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
            </div>
        </div>
    </section>

<section id="contact" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading white-text">Any Questions? Let us know!</h2>
                <hr class="hr-white">
                <p class="white-text">Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p class="white-text">(800)543-3221</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:hello@snowschoolers.com" class="white-text" target="_blank">hello@snowschoolers.com</a></p>
            </div>
        </div>
    </div>
</section>

<!-- <script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script> -->